@import '@styles/variables.scss';

.swiper-body {
    min-width: 0;
    display: flex;
}

.image-slider {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;
    min-width: 0;
    margin: 20px;

    &__image{
        text-align: center;

        & img {
            width: 400px;
            height: 400px;
        }
    }

    & .swiper-pagination {
        bottom: 0;
    }

    & .swiper-pagination-bullet {
        width: 17px;
        height: 17px;
        line-height: 17px;
        font-size: 14px;
        background-color: grey;
    }
}

.image-mini-slider {
    width: 100px;
    height: 350px;
    overflow: auto;
    min-width: 0;

    &__slide {
        opacity: 0.5;
        transition: opacity 0.3s ease 0s;

        &.swiper-slide-thumb-active {
            opacity: 1;
            border-bottom: solid 2px $green;
        }

        &.swiper-slide-visible {
            &:hover {
                opacity: 0.6;
                border-bottom: solid 2px $lightGreen;
            }
        }
    }

    &__image {
        position: relative;
        cursor: pointer;
        width: 100px;
        height: 100px;

        & img {
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

.swiper-container {
    position: relative;

    & .swiper-button-prev::after, 
    & .swiper-button-next::after { 
        color: black;
        font-size: 15px;
    }

    & .swiper-button-next, & .swiper-button-prev {
        transform: rotate(90deg);
        width: 23px;
        height: 100%;
        background: $lightGreen;
        position: absolute;

        &:hover {
            background: $green;
        }
    }

    & .swiper-button-next {
        top: 180px;
        left: 40px;
    }
    & .swiper-button-prev {
        top: -138px;
        left: 40px;
    }
}

.mini-slider-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__video {
        width: 100px;
        height: 90px;
        z-index: 1000;
        position: relative;
        bottom: 90px;
    }
}


