.gear {
    &__1, &__2, &__3, &__4, &__5, &__6, &__7,
    &__8, &__9, &__10, &__11, &__12, &__13, &__14 {
        position: fixed;
        font-size: 100px;
        opacity: 0.1;
    }
    &__1 {
        top: 7%;
        left: -4%;
    }
    &__2 {
        top: 18.5%;
        left: 1.15%;
    }
    &__3 {
        top: 30%;
        left: -4%;
    }
    &__4 {
        top: 41.5%;
        left: 1.15%;
    }
    &__5 {
        top: 53%;
        left: -4%;
    }
    &__6 {
        top: 64.5%;
        left: 1.15%;
    }
    &__7 {
        top: 76%;
        left: -4%;
    }
    &__8 {
        top: 7%;
        right: -4%;
    }
    &__9 {
        top: 18.5%;
        right: 1.15%;
    }
    &__10 {
        top: 30%;
        right: -4%;
    }
    &__11 {
        top: 41.5%;
        right: 1.15%;
    }
    &__12 {
        top: 53%;
        right: -4%;
    }
    &__13 {
        top: 64.5%;
        right: 1.15%;
    }
    &__14 {
        top: 76%;
        right: -4%;
    }
}