@import '@styles/variables.scss';

.cartBox {
    width: 100%;
    display: flex;
    margin: 5px 0;

    &__Cart {
        background: $green;
        width: 170px;
        height: 35px;
        margin: 5px 5px 5px 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &:hover {
            cursor: pointer;
        }
    }
    
    &__CartActive {
        margin: 5px 5px 5px 0;
        display: flex;
    
        &__Button {
            background: $blue;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 110px;
            height: 35px;
            font-size: 14px;
    
            &:hover {
                cursor: pointer;
            }
        }
    
        &__Counter {
            width: 70px;
            height: 35px;
            margin: 0 7px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: solid 1px gray;
            background: rgba(128, 128, 128, 0.15);
        }
    }
    
    &__Favourite, &__FavouriteActive {
        margin: 5px 5px 5px 0;
        line-height: 35px;
        text-align: center;
        vertical-align: text-top;
        font-size: 22px;
        width: 35px;
        height: 35px;
        padding: 5px;
    
        &:hover {
            cursor: pointer;
        }
    }
    
    &__Favourite {
        color: black;
    }
    
    &__FavouriteActive {
        color: red;
    }
    
    &__NotAvailable {
        width: 110px;
        height: 35px;
        margin: 10px 10px 10px 0;
        background: $red;
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

