$lightGreen: #1a573833;
$green: #1a563860;
$lightBlue: #1e1a5733;
$blue: #1e1a5660;
$brownTitle: #55442d;
$brown: #333;
$smallText: #949494;
$red: #83212160;
$brightGreen: #1a5638;
$brightBlue: #1e1a56;