.header {
    width: 1000px;
    height: 90px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;

    &__ugears {
        width: 120px;
        height: 88px;
        background: url('../imgs/image\ 4.svg');

        &:hover {
            cursor: pointer;
        }
    }

    &__link {
        margin: 10px;
        font-size: 19px;;

        &:hover {
            cursor: pointer;
            color: rgb(90, 57, 20);
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65px;
        margin: 10px;
    }

    &__icon {
        &:hover {
            cursor: pointer;
        }
    }
}