@import '@styles/variables.scss';

.cart {
    &__main {
        display: flex;
        flex-direction: row;
    }

    &__text {
        margin: 20px;
    }

    &__itemBox {
        display: flex;
        flex-direction: column;
    }

    &__order {
        top: 50%;
        width: 300px;
        height: 300px;
        //border: solid 1px gray;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 14px;
        justify-content: center;
    }

    &__switch {
        height: 40px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $brown;
    }
    
    &__methodBox {
        width: 152px;
        display: flex;
        flex-direction: row;
        margin: 10px;
        justify-content: space-between;
    }

    &__buttonMethodBlue, &__buttonMethodGreen, &__buttonMethodBlueActive, &__buttonMethodGreenActive {
        width: 75px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        border-radius: 40px;
        color: $brown;
    }

    &__buttonMethodBlue:hover, &__buttonMethodGreen:hover, &__buttonMethodBlueActive:hover, &__buttonMethodGreenActive:hover,
    &__buttonOrder:hover {
        cursor: pointer;
    }

    &__buttonMethodBlue {
        background: $blue;
    }

    &__buttonMethodBlueActive {
        background: $brightBlue;
        color: white;
    }

    &__buttonMethodGreenActive {
        background: $brightGreen;
        color: white;
    }

    &__buttonMethodGreen {
        background: $green;
    }

    &__buttonOrder {
        width: 120px;
        margin: 20px;
        border-radius: 10px;
        color: $brown;
        background: $lightGreen;
    }
}

input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    outline: none;
    background: $lightGreen;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"] {
    background: $lightBlue;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: white;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"]::before {
    left: 40px;
}