@import '@styles/variables.scss';

.product {
    display: flex;

    &__Info {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: 0 30px;
    }

    &__Title {
        font-size: 20px;
        font-weight: bold;
        margin: 5px 0;
    }
    &__SmallText {
        font-size: 12px;
        color: $smallText;
    }

    &__Price {
        font-size: 20px;
    }

    &__Description, &__DescriptionActive {
        width: 100%;
        margin: 10px 0;
        border: 1px solid rgba(128, 128, 128, 0.5);
        border-radius: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
    }

    &__Description {
        height: 255px;
        overflow-y: hidden;
        background: linear-gradient(180deg, black 70%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0B2349;
    }

    &__Button {
        width: 120px;
        height: 20px;
        font-size: 17px;
        border: solid 1px gray;
        background: rgba(128, 128, 128, 0.15);
        color: gray;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 0 7px 0;

        &:hover {
            cursor: pointer;
        }
    }

    &__BasketBox {
        width: 100%;
        display: flex;
    }

    &__Basket {
        width: 170px;
        height: 35px;
        margin: 5px 5px 5px 0;
        background: $green;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }
}