.product {
    height: 320px;
    width: 325px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: rotate(90deg) translateX(260px);
    transform-origin: right top;
    position: relative;

    &__Info{
        display: flex;
        flex-direction: column;
        width: 240px;
    }
    &__Title{
        width: 260px;
        font-size: 17px;
        font-weight: bold;
        
        &:hover {
            cursor: pointer;
        } 
    }
    &__Price{
        font-size: 18px;
    }
    &__Text1{
        display: flex;
        flex-direction: row;
        font-size: 14px;
        color: grey;
    }
    &__Text2{
        font-size: 14px;
        color: black;
    }
    &__Star {
        width: 10px;
        height: 10px;
    }

    &__Favorites {
        position: absolute;
        bottom: 40px;
        right: 70px;

    }

    &__Cart {
        position: absolute;
        bottom: 0px;
        right: 35px;
    }

    &__Icon, &__IconActive, &__IconActiveCart {
        margin: 5px 5px 5px 0;
        line-height: 35px;
        text-align: center;
        vertical-align: text-top;
        font-size: 22px;
        width: 35px;
        height: 35px;
        padding: 5px;

        &:hover {
            cursor: pointer;
        }
    }

    &__Icon {
        color: black;
    }

    &__IconActive {
        color: red;
    }

    &__IconActiveCart {
        color: rgb(255, 166, 0);
    }
}

