.product {
    height: 320px;
    width: 325px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: rotate(90deg) translateX(260px);
    transform-origin: right top;
    position: relative;

    &__Info{
        display: flex;
        flex-direction: column;
        width: 240px;
    }
    &__Title{
        width: 260px;
        font-size: 17px;
        font-weight: bold;
        
        &:hover {
            cursor: pointer;
        } 
    }
    &__Price{
        font-size: 18px;
    }
    &__Text1{
        display: flex;
        flex-direction: row;
        font-size: 14px;
        color: grey;
    }
    &__Text2{
        font-size: 14px;
        color: black;
    }
    &__Star {
        width: 10px;
        height: 10px;
    }

    &__Favorites {
        position: absolute;
        bottom: 40px;
        right: 70px;

        &:hover {
            cursor: pointer;
        }
    }

    &__Basket {
        position: absolute;
        bottom: 0px;
        right: 35px;

        &:hover {
            cursor: pointer;
        }
    }
}

