@import '@styles/variables.scss';

.order {
    &__main {
        width: 420px;
        height: 150px;
        border: solid 1px $lightBlue;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        padding-top: 0px;
    }

    &__imgs {
        width: 410px;
        height: 110px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px;
    }

    &__img {
        width: 100px;
        height: 100px;
    }

    &__info {
        display: flex;
        width: 420px;
        justify-content: space-around;
        background: $lightBlue;
    }

}